article.tutorial{
  section.content{
    img{
      max-width: 100%;
    }


      ol{
        padding-left: 1.0em;
        li{
          margin-bottom: 4.0em;
        }
      }

  }
}


article.lecture{
  .foot-matter{
    border-top: thin solid #777;
    margin-top: 4.0em;
    padding-top: 3.0em;
  }
}

article{
  // hr{
  //   margin-bottom: 3.0em;
  //   margin-top: 2.0em;
  //   padding-bottom: 3.0em;
  //   padding-top: 3.0em;
  //   page-break-before: always;
  // }
  hr{
    margin-bottom: 2.0em;
    margin-top: 2.0em;
    padding-bottom: 2.0em;
    page-break-before: always;
  }

  table{
    @extend .table;
    @extend .table-condensed;
    @extend .table-striped;
  }
}


article.readings{
  .reading{
    >.name{
      font-size: 1.3em;
    }
  }

  blockquote.excerpt{
    font-size: 1.0em;
    font-style: italic;
  }
}
