article.tutorial{
  section.content{
    img{
      max-width: 100%;
      border: thin solid #444;
    }

    ol li img{
      margin-top: 1.0em;
      margin-bottom: 2.0em;
    }

      ol{
        li{
          margin-bottom: 4.0em;
        }
      }

  }
}


article.lecture{
  .top-matter{
    .overview{
      @extend .well;
    }
  }
  .foot-matter{
    border-top: thin solid #777;
    margin-top: 4.0em;
    padding-top: 3.0em;
  }

  #homework-details{
    .assignment{
      margin-bottom: 2.0em;
      ul, ol{
        margin-bottom: 1.0em;
      }

      .meta{
        h4.title{
          font-weight: bold;
          margin-bottom: 0.1em;
        }
        margin-bottom: 0.5em;
      }
    }
  }
}

article{
  // hr{
  //   margin-bottom: 3.0em;
  //   margin-top: 2.0em;
  //   padding-bottom: 3.0em;
  //   padding-top: 3.0em;
  //   page-break-before: always;
  // }
  hr{
    margin-bottom: 2.0em;
    margin-top: 2.0em;
    padding-bottom: 2.0em;
    page-break-before: always;
  }

  table{
    @extend .table;
    @extend .table-condensed;
    @extend .table-striped;
  }
}


article.readings{
  .reading{
    >.name{
      font-size: 1.3em;
    }
  }

  blockquote.excerpt{
    font-size: 1.0em;
    font-style: italic;
  }
}


.course-schedule{
  .lecture{
    margin-bottom: 1.5em;

    .date{ font-weight: bold}
    .title{margin-top: 0.1em; margin-bottom: 0.2em;}
  }
}

.homework .duedate{
  font-style: italic;
}


