body.woz{

}

footer.woz{
  border-top: thin solid #b3aaa9;
  margin-top: 100px;
  padding-top: 6em;
  padding-bottom: 10em;

  h4{
    display: inline;
    font-size: 16px;
  }
}

header.woz{
  background: #24242a;
  color: white;
}


div.woz-aside{
  position: fixed;
  background: #eee;
  width: 200px;
  top: 100px;
  right: 220px;
}

.list-inline-bullets{
  @extend .list-inline;
  li:before {
    content:'\ffed';
    margin-right:0.5em;
  }
}


ol, ul{
  padding-left: 1.0em;
}
