@charset "utf-8";
@import "customs";
@import "imports";


article.lesson{
  section.content{
    img{
      width: 100%;
    }

    hr{
      margin-bottom: 3.0em;
    }
  }
}


article.class-day{
  .foot-matter{
    border-top: thin solid #777;
    margin-top: 4.0em;
    padding-top: 3.0em;
  }

}
