footer class='woz'
  div class='container'

    a href="/" Public Affairs Data Journalism


/ Javascripts
/ = javascript_include_tag '../bower_'
= javascript_include_tag "application", charset:"utf-8"

= yield_content :ad_hoc
